
.footer {
    background-color: rgb(67 50 84);
    height: 18rem;
    display: flex;
    flex-direction: column;
    /* align-self: auto; */
    /* justify-content: space-evenly; */
}

.footer0 {
    /* border: 1px solid black; */
    width: 18rem;
    height: 2rem;
    margin: 6rem 0rem 0rem 3rem;
    margin-top: 0rem;
    padding: 5rem;
    line-height: 1.6;
}

.footer1 {
    /* border: 1px solid black; */
    width: 18rem;
    height: 2rem;
    margin: -11rem 0rem 0rem 45rem;
    padding: 3rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.footer2{
    width: 18rem;
    height: 2rem;
    margin: -8rem 0rem 0rem 70rem;
    padding: 3rem;
    line-height: 1.6;
}

.about {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.address{
    color: black;
    text-decoration: none;
}

.foodMenu{
    color: black;
    text-decoration: underline;
}

.icons {
    /* margin: 3rem 0rem 0rem 0rem; */
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 4rem;
    margin: 0rem 0rem 10rem 0rem;
    font-size: 1.9rem;
    /* border: 1px solid black; */
    padding-top: 2rem;
    margin-right: 16rem;
}

.fa-linkedin{
    text-decoration: none;
    color: rgba(25, 15, 140, 0.226);
}

.fa-instagram{
    text-decoration: none;
    color: rgb(101, 5, 5);
}

.fa-twitter{
    text-decoration: none;
    color: rgb(0, 174, 255);
}

.fa-github{
    text-decoration: none;
    color: black;

}

.button{
    cursor: pointer;
}